<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leave Approved!</title>
</head>
<body>
  <h1 style="color: #008000;">Your Leave Request Has Been Approved! 🎉</h1>
  <p>Dear {{first_name}} {{last_name}},</p>
  <p>Exciting news! Your leave request has been approved. Enjoy your well-deserved break!</p>
  <p>Best,<br>Diligite Ltd</p>
</body>
</html>
